.logo {
  width: 29px; 
  height: auto; 
  margin-left: 20px;

}

body {
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
}

.site-title {
  color: rgb(49, 69, 255);
  font-size: 12px; 
  margin: 0;
  font-weight: 700;
}

.site-subtitle {
  color: rgba(42, 45, 70, 1);
  font-size: 12px; 
  margin: 0;
}
