.promo-row {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
  align-items: flex-start; /* вверх = текст*/
}

.btn{ /* кнопочка розовая с каталогом*/
  background-color: rgba(235, 45, 102, 1);
  border: rgba(235, 45, 102, 1);
  width:239px;
  height: 63px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

/* при наведении */
.btn:hover {
  background-color: #F24C7E; 
}

/* при нажатии */
.btn:active {
  background-color: #FF6B9C; 
}
.promo-text-block { 
  flex: 0 0 40%;

}
.promo-text{ 
font-weight: 900;
  color: rgba(42, 45, 70, 1);
  font-size: 36px;
}

.promo-text-2{
font-weight: 400;
  color: rgba(42, 45, 70, 1);
  font-size: 18px;

}
.card-cross { /*размещение карточки*/
  position: relative;
  width: 615px;
  height: 369px;
  margin-left: auto; 
  margin-right: 40px;
   
}

.background img {
  width: 100%;
  display: block;
  filter: grayscale(1) brightness(0.6); /*чб*/
}

.background::after { /* затемнение синим*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 100, 255, 0.5);
  mix-blend-mode: screen;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;      /* занимать всю ширину карточки */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* сдвиг все вправо */
  padding: 0;       /* убрать внутр отступы */
}

.shoes {
  width: 100%;
  z-index: 2;
  transform: translateX(-50px);
  margin-right: 200px;
  margin-top: 140px;
}
 /*трогать*/
.text {
  max-width: 250px;     /* ширина текста */
  color: rgb(0, 0, 0);
  white-space: nowrap;  /* всё в одну строку */
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.text h3 {
  font-size: 17px;
  font-weight: bold;
  white-space: normal; 
  overflow: visible;   /* текст не обрезать
}

.text p {
  font-size: 12px;
  line-height: 1.4;
  white-space: normal; 
  overflow: visible;
}

.text span {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  white-space: normal; 
  
}
*/
