@import "tailwindcss";

@theme {
  --color-primary: #3145ff;
  --color-secondary: #2a2d46;
  --color-accent: #eb2d66;
  --color-muted: #9094b8;
  --color-back: #343a62;
}

body {
  @apply bg-[#fcfcff];
  font-family: "Montserrat", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
